GCP_PROJECT = "myprojectname"
GCP_LOCATION = "us-central1"
TUNED_CYPHER_MODEL = ""
NEO4J_HOST = "bolt://host.docker.internal"
NEO4J_PORT = "7687"
NEO4J_USER = "neo4j"
NEO4J_PASSWORD = "Foo12345678"
NEO4J_DB = "neo4j"