# GCP
GCP_PROJECT = "myprojectname" #e.g. neo4jbd
GCP_LOCATION = "us-central1" #e.g. us-central1
SUMMARY_MODEL = "" #e.g. text-bison@002
CYPHER_MODEL = "" #e.g. code-bison@002
EMBEDDING_MODEL  = "" #e.g. textembedding-gecko@002
MULTIMODAL_MODEL = "" #e.g. gemini-1.0-pro-vision

# NEO4J
NEO4J_HOST = "neo4j+s://URL"
NEO4J_PORT = "7687"
NEO4J_USER = "neo4j"
NEO4J_PASSWORD = "Foo12345678"
NEO4J_DB = "neo4j"
