# GCP
GCP_PROJECT = "myprojectname" #e.g. neo4jbd
GCP_LOCATION = "us-central1" #e.g. us-central1
SUMMARY_MODEL = "" #e.g. gemini-1.5-pro-preview-0409
CYPHER_MODEL = "" #e.g. gemini-1.5-pro-preview-0409
EMBEDDING_MODEL  = "" #e.g. textembedding-gecko@003
MULTIMODAL_MODEL = "" #e.g. claude-3-opus@20240229
MULTIMODAL_MODEL_LOCATION = "us-east5" #e.g. us-east5

# NEO4J
NEO4J_HOST = "neo4j+s://URL"
NEO4J_PORT = "7687"
NEO4J_USER = "neo4j"
NEO4J_PASSWORD = "Foo12345678"
NEO4J_DB = "neo4j"
